<p>By simply wrting into cmd - rails g controller pages home ilayer
kjkjfkdjfkjdkfjdkjfdkjfdjfkdjkfjdkfjkdjfkdjfkjdkfjdkfjdkjfdkjfkdjfkj
dkfjdkjfkdjfkjdkfjkdjfkdjfkjdkfjdjfdjfkjdkfjdkjfkdjfkdjfkjdfjdfkjdkfj
dfjdkjfdkjfkdjfkjdkfjkdjfkdjfkjdfkjdkfjdkjfkdjfkjdfkjdkfjdkjfkdjfkdjfkj
df,djkfjdkjfkdjfdkjfkdjfkdjfkdjfkdjfkdjfkdjkdjfkdjfkdjfkdjfkdjfdjfkfjdkjf.

this is text.</p>
