<h1>Pages#home</h1>
<p>This is HOME PAGE</p>

<p>By simply wrting into cmd - rails g controller pages home</p>

-- It creates the controller pages with the action "Home"


this is me practicing how to type fast... okay lets move on.
