
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
}

.jumbotron{
  color: white;
  text-align: center;
}

.container{
}

.jumbotron{
  background-image: url('banner.jpg');
  background-size: cover;

}

.logo  {
  height: 50px;
  padding:5px;
}

.nav-item{
  justify-content: flex-end !important;
}

.nav {
  justify-content: flex-end !important;
}

.justify-content-end{
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.navbar-toggler{
  line-height: 50px;
}

// ---------------- Home Page pages#home --------------------------//

.marketing {
  padding: 0 0px 20px 0;
}

.marketing_inner{
  text-align: center;
}

.marketing_images{
  width: 100px;
  padding: 20px 0px;
}

.cta_outer{
  padding:50px;
  width: 100%;
  text-align: center;
}

.cta_inner h1{
  margin-bottom: 50px;
}

.cta_inner p{
  margin-bottom: 50px;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  border-left: solid #dadada 1px;
  padding-right: 10px;
  padding-left: 15px;
}

footer ul li:nth-child(1){
  padding-left: 0;
  border-left: none;
}




// ---------------- Jobs List jobs#index --------------------------//

.job_list{
  display: table;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  clear: both;
  margin: 10px 0px;
  //border: .5px solid black;
}

.company_logo {
  height: 100%;
  max-height: 150px;
}

.company_logo_container {
  padding: 20px;
  padding-left: 0;
  height: 150px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  max-height:150px;
}

.job_list_info{
  display: inline-block;
  padding: 10px;
}

//-------------------- Job Page jobs#show ---------//

.job_info {
  display: block;
  float: left;
  width: 100%;
}

.btn-applying{
  margin: 30px 0;
}

.link-move {
  display: block;
  width: 100%;
  padding-bottom: 30px;
}



//-------------------- Page jobs#show ---------//














//---------------------------space -------------//
